<div class="wrapper">
  <div class="sidebar">
    <div class="user">
      <p>HURREY</p>
    </div>
    <div class="items">
      <ul>
        <li routerLink="/institution" translate>INSTITUTION</li>
        <li routerLink="/batch" translate>BATCH</li>
      </ul>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<select name="translate" #lang (change)="switchLanguage(lang.value)" id="translate" class="btn translate">
      <option value="en" >en</option>
      <option value="fr" >fr </option>
      <option value="hin" >hin</option>
</select>

