
<div class="container">
    <h1 translate>INSTITUTION</h1>
    <div class="card">
        <div class="card-content" >
            <span class="card-name" translate>AddItem</span>
            <form class="col" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text"  [(ngModel)]="institutionItem.name" name="name">
                        <label for="institutionname" translate>Institution Name</label>
                    </div>
                    <div>
                        <button class="btn" (click)=getLocation() translate>Click to Get Location</button><br>
                        latitude :{{latitude}} <br>
                        longitude:{{longitude}}
                    </div>
                </div> 
                <button class="btn" translate>SUBMIT</button>
            </form>     
        </div>
    </div>

    <div *ngIf="Institutions?.length>0;else noItems"> 
        <ul *ngFor="let inst of Institutions" class="collection">
            <li translate class="collection-item"> <strong>{{inst.name | uppercase}}</strong>
                <a class="secondary-content">
                    <i class="fas fa-times" (click)="deleteInstitution($event,inst)"></i>
                    Delete
                </a>
                <agm-map [latitude]="inst.latitude" [longitude]="inst.longitude">
                    <agm-marker [latitude]="inst.latitude" [longitude]="inst.longitude"></agm-marker>
                </agm-map>
            </li>
        </ul>
    </div>

    <ng-template #noItems>
        <h5>There are no items in the list</h5>
    </ng-template>


</div>

